<launch>
		<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
			<arg name="world_file" default="$(find BiN)/src/maps/kinetic.world"/>
		</include>
		<include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>
		<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
		<node pkg="BiN" name="name" type="navi2.py"/> 
</launch>
