<launch>
		<include file="$(find turtlebot_bringup)/launch/minimal.launch">
		</include>
        	<include file="$(find astra_launch)/launch/astra.launch">
        	</include>
                <node pkg="BiN" type="tracker.py" name="tracker" output="screen"/>
                <node pkg="BiN" type="follower.py" name="follower" output="screen"/>
</launch>
